// === MIXINS ===

@mixin font-lato {
    font-family: 'Lato', sans-serif;

}

@mixin font-monts {
    font-family: 'Montserrat', sans-serif;

}

// === / mixins ===




// === variables ===

$color-white: #ffff;

// === / variables ===

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;


// commons

body {
    @include font-lato;
    color: #414141;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.section-outer {
    padding-left: 20px;
    padding-right: 20px;
}

* {
    box-sizing: border-box;
}

.description-item {
    &__icon {
        margin-bottom: 20px;

    }

    &__title {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        @include font-lato;
    }

    &__text {
        @include font-lato;
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
        /* or 175% */
        color: #6C6C6C;

    }
}

@mixin start-button {
    margin: 0;
    padding: 16px 20px;
    @include font-monts;
    font-size: 18px;

    outline: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;

}

.btn-main {
    @include start-button;
    border: none;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    color: $color-white;
    transition: .5s;


    &:hover {
        background: linear-gradient(to right, #FE4FA7, #FE985B);
        transition: .5s;
    }

}


.btn-secondary {
    @include start-button;
    border: 1px solid #414141;
    background: $color-white;
    color: #414141;

    &:hover {
        color: #FE4FA7;
        border-color: #FE4FA7;
    }


}

.btn-free {
    @include start-button;
    border: none;
    background: $color-white;
    color: #414141;

    &:hover {
        color: #FE4FA7;
    }

}

//===/////////


// === HEADER ===

.section-header {
    color: #ffffff;
    background: url(../img/Bitmap.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(#142729, .47);
        z-index: 5;

    }

    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }

    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .section-header-wrapper {
        margin: 0 auto;

        &__title {
            text-align: center;
            font-weight: bold;
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 16px;
        }

        &__subtitle {
            text-align: center;
            @include font-monts;

            line-height: 32px;


            margin: 0 auto;
            margin-bottom: 44px;
        }

        @media (max-width: $screen-xs-max) {
            &__title {
                font-size: 40px;
            }

            &__subtitle {
                font-size: 16px;

            }
        }
        

        @media (min-width: $screen-sm) {
            &-subtitle {

                font-size: 18px;

                width: 70%;
            }


        }

        &__form {
            display: flex;

            &-input {
                flex: 1;

                input {
                    border: none;
                    background-color: rgba(255, 255, 255, .25);
                    color: #ffffff;
                    @include font-monts;
                    font-size: 16px;
                    line-height: 19px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;

                    width: 100%;
                    transition: .2s;

                    &::placeholder {
                        color: $color-white;
                        font-size: 16px;
                        line-height: 19px;
                    }

                    &:focus {
                        background-color: rgba(255, 255, 255, .5);
                    }
                }
            }

            &-button {}

            @media (max-width:$screen-sm-max) {
                flex-direction: column;

                &-input {
                    margin-bottom: 10px;
                    margin-right: 0;
                }



                &-button {
                    flex: 1;
                    margin-bottom: 20px;

                    .btn-main {
                        display: block;
                        width: 100%;
                    }

                }
            }



            @media (min-width: $screen-md) {
                &-input {
                    margin-right: 40px;
                }

            }

        }
    }
}


// === / header ===


// === PROMO ===

.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content,
    &__video {

        flex-basis: 50%;
    }

    &__content {


        .title {
            @include font-lato;
            font-weight: bold;
            font-size: 32px;
            line-height: 51px;
            margin-bottom: 56px;
        }

        .description-item {
            margin-top: 28px;
        }

    }

    &__video {
        img {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width:$screen-sm-max) {
        flex-direction: column;

        &__video {
            order: -1;
            margin-bottom: 20px;
        }
    }

    @media (min-width:$screen-md) {
        &__content {
            padding-right: 90px;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 120px;
    border-top: 1px solid #E2E2E2;

    text-align: center;



    @media (min-width:$screen-sm) {
        .description-item + .description-item {
            margin-left: 40px;
        }

    }

    @media (max-width:$screen-xs-max) {
        flex-direction: column;

        .description-item + .description-item {
            margin-top: 20px;
        }

    }
}


// === / promo ===


// === FOUNDER ===

.section-founder {
    background: #F6FAFD;
    padding-top: 34px;

    .section-inner {
        display: flex;
    }



    &__content {
        &-text {
            @include font-monts;
            font-size: 24px;
            line-height: 40px;
            color: #414141;

        }

        &-name {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;

            color: #414141;
            margin-top: 35px;
        }

        &-post {
            font-size: 24px;
            line-height: 29px;

            color: #414141;
        }

    }

    @media (max-width:$screen-sm-max) {
        .section-inner {
            flex-direction: column;
        }

        &__img {

            img {
                max-width: 100%;

            }
        }

        &__content {
            order: -1;
            margin-bottom: 50px;
        }
    }

    @media (min-width:$screen-md) {
        &__img {
            align-self: flex-end;
        }

        &__content {
            align-self: center;
            padding-left: 50px;
            padding-right: 20px;
            margin-bottom: 30px;
        }

    }
}


// === / fouder ===

// === PLANS ===

.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title,
    &__subtitle {}

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;

        text-align: center;
        margin-bottom: 80px;

        color: #6C6C6C;
    }

    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 65px 45px;


            &_title {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: #414141;
                text-transform: uppercase;
                margin-bottom: 26px;
            }

            &_price {
                margin-bottom: 26px;

                .prefix {
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 86px;
                    text-align: center;

                    color: #FE4FA7;

                }

                .postfix {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */

                    text-align: center;

                    color: #414141;
                }
            }

            &_description {
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                /* or 175% */
                color: #6C6C6C;
                margin-bottom: 50px;
            }

            &_button {}

            &.active {
                background-color: #F6FAFD;
            }
        }

        @media (max-width:$screen-xs-max) {
            flex-direction: column;
        }
    }


    @media (max-width:$screen-xs-max) {}

    @media (min-width:$screen-sm) {
        &__subtitle {
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// === SSection-free ===

.section-free {

    text-align: center;
    color: $color-white;

    background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
    padding-top: 120px;
    padding-bottom: 120px;

    &__title {
        @include font-monts;
        font-weight: bold;
        font-size: 55px;
        line-height: 60px;
        margin-bottom: 26px;
        font-family: 'Montserrat', sans-serif;
    }

    &__description {
        @include font-monts;
        font-size: 20px;
        line-height: 30px;

        font-family: 'Montserrat', sans-serif;

        margin: 0 auto;
        margin-bottom: 40px;

    }

    @media (min-width:$screen-lg) {
        &__description {
            width: 50%;
        }
    }
}



// === / sect-free ===


// === FOOTER ===

.section-footer {
    padding-top: 80px;
    padding-bottom: 80px;

    &__logo {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        margin-bottom: 30px;


        color: #464646;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        margin-bottom: 74px;

        li {

            text-decoration: none;

            a {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */

                text-align: center;
                text-transform: uppercase;

                color: #464646;
                text-decoration: none;
                transition: .2s;

                &.active,
                &:hover {
                    color: #FE50A6;

                }
            }
        }

        @media (max-width:$screen-xs-max) {
            flex-direction: column;
            text-align: center;

            li {
                & + li {
                    margin-top: 10px;
                }
            }
        }

        @media (min-width: $screen-sm) {
            li {
                & + li {
                    margin-left: 60px;
                }

            }

        }
    }

    &__copyright_and_links {
        display: flex;
        justify-content: space-between;



        @media (max-width:$screen-sm-max) {}

        @media (min-width:$screen-xl) {
            width: 60%;
            margin: 0 auto;
        }

        @media (max-width:$screen-sm-max) {
            flex-direction: column;
            text-align: center;
        }

    }

}

.helper-links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;

    li {
        & + li {
            margin-left: 20px;
        }

        text-decoration: none;

        a {
            @include font-monts;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
            color: #464646;
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width:$screen-sm-max) {
        display: inline-flex;
        margin-top: 20px;
    }

    @media (min-width:$screen-md) {
        display: flex;
    }
}

// === / footer ===
